.item-list-container {
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    margin-bottom: 60px;
    background-image: url("https://www.lojatoys4fun.com.br/media/magefan_blog/f/u/funko-pop-mais-raros.png");
    background-size:contain;
  }
  
  .item-list-container__title {
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
  }
  